@import '~style/helpers';

.container {

	justify-content: center;

}
.container button {
  margin: 0 auto ;
  font-size: 16px;
  padding: 5px 12px;
	float: left;
	display: inline;
  background: transparent;
  border: 1px;
  color: #fff;
  font-weight: 300;
  border-radius: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.settings button{
  margin: 0 auto;
  font-size: 16px;
  padding: 5px 5px;
  background: transparent;
  border: 1px;
  color: #fff;
  font-weight: 300;
  border-radius: 0px;

  transition: all 0.3s ease-in-out;

}

.arrow button {
	margin: 0;
	background: transparent;
	color: #fff;
	font-weight: 300;
	border: 1px;
	border-radius: 0px;
	float: button;
	display: inline;
}

.commute button{
  margin: 0 auto;
  font-size: 16px;

  background: transparent;
  border: 1px;
  color: #fff;
  font-weight: 300;
  border-radius: 0px;

	float: right;
}

.container button:hover {
  background: #fff;
  color: #6DA4CC;
  border: 0px solid transparent;
}
