@import '~style/helpers';

.container {
	display: block;
	flex-direction: column;
	background-color: #88d8b0;
	color: black;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 0px;
	margin: 0 auto;
}

.logo_container {
	padding-top: 10px;
	height: 100px;
}

.body {

}

.bike_container {
	background-image: url("../../assets/images/bike.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: 414px;
	height: 250px;
	color: black;
	text-align: left;
	padding-top: 0px;
	margin: 0 auto;
	float:left;
}

.poll_vis {
	text-align: right;
	line-height: 5px;
	color: #879aba;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}

.refresh {
 flex: 5;
	font-size: 0.80em;
	color: #879aba;
	font-weight: 500;
	font-style: italic;
}



.city {
	flex: 1;
	display: block;
	font-size: 1.7em;
	font-weight: 500;
	font-style: italic;
	color: #879aba;

}
.conditions {
	flex: 1;
	font-size: 3em;
	float: left;
	text-align: center;
	width: 50%;
	height:50%;
	color: #fff;
	padding-top: 15%;
}
.temperature {
	flex: 1;
	margin-top: 0;
	font-size: 3em;
	font-weight: 400;
	letter-spacing: -12px;
	float: right;
	width: 50%;
	height:50%;
	text-align: center;
	padding-top: 15%;
	color: #fff;
}

.wind{
	font-size: 3em;
	font-weight: 400;
	float: right;
	text-align: center;
	width: 50%;
	height: 50%;
	padding-top: 20%;
	color: #fff;
}

.precip{
	flex: 1;
	font-size: 3em;
	float: left;
	text-align: center;
	width: 50%;
	height:50%;
	color: #fff;
	padding-top: 20%;
}

.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
